*{
    box-sizing: border-box;
    line-height: 2em;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }


  .sidenav p {
    /* padding: 6px 8px 6px 16px; */
    text-decoration: none;
    color: #818181;
      }


  .main {
    margin-left: 240px; /* Same as the width of the sidenav */
    padding:12px;
  }

  p {
    font-size: 18px;
    padding: 0;
} 
.sidenav u {
    color: orange;
    padding-right: 30px;
}

.small{
  font-size: 13px !important;
    margin-bottom: 0px!important;
}


    
